body{
    background-color: white;
}

.header{
    background-color: deepskyblue;
    /*position: absolute;*/
    /*width: 80%;*/
    height: 50px;
}

.index-body{
    background-color: white;
    height: 50%;
    width: 75%;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /*box-shadow: 5px 5px 40px 5px #888888;*/
}

.description{
    height: 50%;
    width: 100%;
    /*background-color: antiquewhite;*/
}

.index-container{

    /*position: relative;*/
    height: 1200px;
    padding: 10px 10px 10px 5px;
    background-color: transparent;
    /*width: 80%;*/
}

/*#scatter-map{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: aqua;*/
/*}*/

